---
import CardMain from "../cards/CardMain.astro";
import { getListingsWithFallback } from "../../lib/cms";
import type { Listing } from "../../types/listing.type";
import "./relatedSites.css";

interface Props {
  title: string;
  relatedIds?: string[];
  currentLang: string;
}

const { title, relatedIds, currentLang } = Astro.props;

const allListings: Listing[] = await getListingsWithFallback(currentLang);
const relatedItems = relatedIds
  ? allListings.filter((item) => relatedIds.includes(item.id))
  : [];
---

{
  relatedItems.length > 0 && (
    <section class="related-sites container section-padding">
      <h2 class="related-sites__title">{title}</h2>
      <div class="related-sites__grid">
        {relatedItems.map((item) => (
          <CardMain item={item} currentLang={currentLang} />
        ))}
      </div>
    </section>
  )
}
