---
const { popupId, title, children, isOpen } = Astro.props;
---

<aside id={popupId} class="popup" class:list={{"popup_hidden": !isOpen}}>
  <div class={!title && popupId !== "successAuth-popup" ? "popup__zoom-container" : "popup__container"}>
    <button type="reset" class="button popup__button-close" id="popup-button-close" onclick={() => {
      document.getElementById(popupId)?.dispatchEvent(new CustomEvent('popup:close', { bubbles: true }));
    }}></button>
    {title && <h2 class="popup__title">{title}</h2>}
    {children}
  </div>
</aside>

<script define:vars={{ popupId: popupId }}>
  const popupElement = document.getElementById(popupId);

  if (popupElement) {
    popupElement.addEventListener("click", (event) => {
      const container = popupElement.querySelector(".popup__container, .popup__zoom-container");
      if (container && !container.contains(event.target)) {
        popupElement.dispatchEvent(new CustomEvent('popup:outer-click', { bubbles: true }));
      }
    });
  }
</script>
