---
import "./communityMessage.css";

interface Props {
  title: string;
  text: string;
}

const { title, text } = Astro.props;
---

<section class="community-message section-padding">
  <div class="container">
    <div class="community-message__content">
      <h2 class="community-message__title">{title}</h2>
      <blockquote class="community-message__quote">
        <p class="community-message__desc">{text}</p>
      </blockquote>
    </div>
  </div>
</section>
