---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout
  siteTitle="Experiencias en Puerto Agua Verde | Rancho San Cosme"
  ogTitle="Explora las Experiencias Únicas en Puerto Agua Verde y Rancho San Cosme"
  siteDescription="Descubre las mejores experiencias en Puerto Agua Verde y Rancho San Cosme."
  ogDescription="Sumérgete en las experiencias inolvidables que Puerto Agua Verde y Rancho San Cosme tienen para ofrecer"
>
  <h1>Experiencias Page</h1>
</BaseLayout>
