---
import './header.css';
import Image from "astro/components/Image.astro"
import favicon from "../../../public/favicon.ico"

---

<header class="site-header">
  <div class="container header-container">
    <a href="/" class="logo">
        <span class="logo-icon">
          <Image src={favicon} alt="Puerto Agua Verde Logo" width={32} height={32}></Image>
        </span><span class="logo-text"> Agua Verde</span>
    </a>
    <nav class="main-nav">
        <ul>
            <li><a href="/experiencias" data-key="nav_experiences">Experiencias</a></li>
            <li><a href="#" data-key="nav_sites">Sitios</a></li>
            <li><a href="#" data-key="nav_accommodation">Hospedaje</a></li>
            <li><a href="#" data-key="nav_restaurants">Restaurantes</a></li>
            <li><a href="#" data-key="nav_services">Servicios</a></li>
            <li class="mobile-only"><a href="#" class="btn btn-primary btn-sm" data-key="sign_in">Iniciar Sesión</a></li>
            <button id="lang-toggle" class="btn btn-outline btn-sm">EN</button>
        </ul>
    </nav>
    <div class="header-right">
      <button class="mobile-menu-btn" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <!-- <div class="header-actions">
        <a href="#" class="btn btn-primary btn-sm" data-key="sign_in">Iniciar Sesión</a>
    </div> -->
  </div>
</header>


