.highlights-layout {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.review-card {
    background-color: var(--white);
    padding: 2rem;
    border-radius: var(--radius-md);
    box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    flex-basis: 300px;
    flex-grow: 1;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--secondary-text);
}

.user-profile h4 {
    font-family: var(--font-body);
    font-size: 1.6rem;
    margin: 0;
}

.user-profile p {
    font-size: 1.4rem;
    color: var(--secondary-text);
}

.rating {
    color: #FFB400;
    margin-bottom: 1rem;
}

.highlight-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 300px;
}

.highlight-img {
    border-radius: var(--radius-md);
    overflow: hidden;
    height: 100%;
}

.highlight-img.large {
    grid-column: 1 / -1;
    height: 200px;
}

.highlight-img.small {
    display: none;
}

.see-more-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: var(--radius-md);
    color: white;
    grid-column: 1 / -1;
    height: 60px;
}

.btn-white {
    border-color: white;
    color: white;
}
