---
import "./ctaSection.css";
import type { CtaData } from "@/types/homepage.type";

interface Props {
  data: CtaData;
}

const { data } = Astro.props;
---

<section class="section-padding text-center">
  <div class="container">
    <h2 data-key="final_cta_title">{data.title}</h2>
    <p class="cta-description" data-key="final_cta_desc">{data.description}</p>
    <a href={data.buttonLink || "#"} class="btn btn-primary" data-key="final_cta_btn">{data.buttonLabel}</a>
  </div>
</section>